{% extends 'blood/adminbase.html' %}
{% block content %}
<br><br>
<div class="container">
    <h4 class="text-center">DONATION CAMPS</h4><br>
    <a href="{% url 'add-donation-camp' %}" class="btn btn-success mb-3">Add New Camp</a>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for camp in camps %}
            <tr>
                <td>{{ camp.name }}</td>
                <td>{{ camp.date }}</td>
                <td>{{ camp.location }}</td>
                <td>{{ camp.description }}</td>
                <td class="text-right">
                    <a href="{% url 'edit-donation-camp' camp.id %}" class="btn btn-primary btn-sm badge-pill">Edit</a>
                    <a href="{% url 'delete-donation-camp' camp.id %}" class="btn btn-danger btn-sm badge-pill" onclick="return confirm('Are you sure you want to delete this camp?')">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No donation camps available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}